.container {
    display: flex;
    justify-content: space-between;
    width: 300px;
    margin: 20px auto;
    background: white;
    padding: 118px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 11px;
  }
  
  input {
    width: 100px;
  }
  body{
    background: darkseagreen;
  }
  h2{
    font-size: 51px;
    margin-left: 23rem;
  }
  .heading{
    display: flex;
  }
  label{
    font-size: 28px;
  }
  input{
    margin-right: 34px;
    width: 132px;
    border: 2px solid darkgray;
    height: 26px;
    border-radius: 5px;
  }